/* file: custom-carousel.css */

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  @apply w-24 h-24 text-4xl text-white !important; /* Tăng kích thước nút và mũi tên */
  background-color: rgba(0, 0, 0, 0.5) !important; /* Màu nền mờ để nổi bật hơn */
  border-radius: 50% !important; /* Để các nút hình tròn */
  display: flex !important; /* Sử dụng Flexbox để căn giữa */
  align-items: center !important; /* Căn giữa theo chiều dọc */
  justify-content: center !important; /* Căn giữa theo chiều ngang */
  transition: background-color 0.3s, transform 0.3s !important; /* Thêm hiệu ứng chuyển tiếp cho hover */
}

.custom-carousel .slick-prev:hover,
.custom-carousel .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8) !important; /* Màu nền khi hover */
  transform: scale(1.2) !important; /* Phóng to nút khi hover */
}

.custom-carousel .slick-prev:before,
.custom-carousel .slick-next:before {
  @apply text-white text-4xl !important; /* Kích thước mũi tên */
}
.seeMore-btn {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.seeMore-btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
